.reply-container {
    border-radius: 20px;
    background: #439D7D;
    padding: 20px;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
    
    position: absolute;
    right: 5%;
    top: 25%;

    font-family: Tajawal;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}