@import "../../styles/ChatBubble.scss";

.reply-container {
    margin-bottom: 2rem;
    margin-left: auto;
    
    
    .reply-bubble {
        max-width: 75%;
        margin-left: auto;
        background-color: #439d7d;
        @include chat-bubble
        width: fit-content;

        .reply-content {
            color: white;
            padding-left: 1rem;
            padding-right: 1rem;
            font-size: large;
            text-align: right;
            
        }
    }
}

@media only screen and (max-width: 360px) {
    .reply-container {
        .reply-bubble {
            .reply-content {
                font-size: medium;
            }
        }
    }
}