@import "../../styles/ChatBubble.scss";

.message-container {
    width: 100%;
    max-width: 75%;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;

    position: relative;

    .avatar {
        width: 45px;
        height: 45px;

        position: absolute;
        left: -1rem;

        background-color: #ad523b;
        border-radius: 50%;
    }

    .message-bubble {
        position: relative;
        left: 3rem;
        top: 0.3rem;

        background-color: white;
        width: 60%;
        @include chat-bubble();
        width: fit-content;
        
        .message-content {
            padding-left: 1rem;
            padding-right: 1rem;

            font-size: large;
            color: black;
            text-align: right;
        }

        .replies-container {
            width: 90%;
            
            margin-left: auto;
            margin-right: auto;
            margin-top: 1rem;
            padding: .5rem;

            display: flex;
            flex-direction: column;
            
            border-top: 1px solid #c2c2c2;

            .reply-option {
                width: 90%;
                margin: 5px;
                margin-left: auto;
                margin-right: auto;

                display: flex;
                justify-content: center;

                .reply-option-btn {
                    min-width: 90%;
                    padding-top: .5rem;
                    padding-bottom: .5rem;

                    color: white;
                    background-color: #439d7dee;
                    border: none;
                    border-radius: 5px;
                    transition-duration: .3s;
                    
                    &:hover {
                        background-color: #439d7dae;
                    }

                    &:active {
                        background-color: #439d7dff;
                    }
                }
            }
        }
    }

}

@media only screen and (max-width: 768px) {
    .message-container {
        .avatar {
            left: -2rem;
        }
        .message-bubble {
            left: 2rem;
        }
    }
}

@media only screen and (max-width: 360px) {
    .message-container {
        .avatar {
            width: 40px;
            height: 40px;
            left: -2rem;
        }
        .message-bubble {
            left: 1.5rem;
            .message-content, .replies-container {
                font-size: medium;
            }
        }
    }
}