.login-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    .login-view {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        .login-container {
            // width: 80%;
        }
    }
}